<!doctype html>
<!-- Define a linguagem para Português do Brasil -->
<head lang="pt-BR">
  <meta charset="UTF-8">

  <!-- Este Metatag comanda o browser renderizar com o plugin Google Chrome Frame caso esteja instalado. -->
  <!-- Mais info: http://www.chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Eventex - O Evento do Ano!</title>

  <meta name="author" content="Vinicius Braga">
  <meta name="description" content="O evento mais concorrido do ano depois do Dev in Rio">
  <meta name="keywords" content="evento,eventex,devinrio,">


  <!-- Adivinha! JavaScript para fazer os IEs entenderem os novos tags HTML5. -->
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Carrega a folha de estilo basalStyle -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/basalstyle/style.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

</head>
<body>

<div class="headerFrame row">
  <div class="header row">
      <div class="siteID">
          <h1 class="siteLogo"><a href="/">Eventex</a></h1>
      </div>
  </div><!-- END header -->
</div><!-- END headerFrame -->
<hr>
<div class="contentFrame row">
  <div class="content row">
    {% block content %}
    <h1>O evento mais<br> sensacional do ano!</h1>
    <p>Depois do <strong>Dev in Rio</strong>, você não pode perder esta oportunidade.</p>
  		<h2>Inscrições a partir de 03/06/2012</h2>
  		<p>Para dúvidas e mais informações <a href="mailto:eventex@eventex.com.br">entre em contato</a>.</p>
    {% endblock content %}
  </div>
  <!-- END content -->
</div>
<!-- END contentFrame -->
<hr>
<div class="footerFrame row">
  <div class="footer row">

  </div>
  <!-- END footer -->
</div>
<!-- END footerFrame -->



</body>
</html>